@page "/login"

@using BankFrontEnd.Services

@inject ApiService apiServ

@using BankFrontEnd.EditForm

<PageTitle>Login</PageTitle>

<h3>login</h3>

<EditForm Model="@Model" OnValidSubmit="@Submit">

    <InputText @bind-Value="Model.Username" placeholder="Username"></InputText>
    <InputText @bind-Value="Model.Pin" placeholder="PIN"></InputText>
    <input class="btn btn-primary" type="submit" value="Submit">
</EditForm>

@code{
    private EditContext? edit;
    private LoginEdit? Model{ get; set; }

    protected override void OnInitialized()
    {
        Model ??= new();
        edit = new(Model);
    }
    
    public Submit()
    {
            signin(string url, LoginEdit data)
    }
}